<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




    <bean id="person" name="person" class="com.linsir.spring.framework.ioc.Person">
    </bean>
    <alias name="person" alias="toPerson" />


    <bean id="myCommand" class="com.linsir.spring.framework.ioc.dependencies.AsyncCommand" scope="prototype">
        <!-- inject dependencies here as required -->
    </bean>

    <!-- commandProcessor uses statefulCommandHelper -->
    <bean id="commandManager" class="com.linsir.spring.framework.ioc.dependencies.CommandManager">
        <lookup-method name="createCommand" bean="myCommand"/>
    </bean>

    <bean class="com.linsir.spring.framework.init.InstantiationTracingBeanPostProcessor">

    </bean>
</beans>